<html>
<head>
    <title>NFL Web Dashboard</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
<head>
<body>
<h1>Chart</h1>

<div class="container">
    <div class="item"></div>
    <div class="item">{{top10|safe}}</div>
    <div class="item">{{avgapproach10|safe}}</div>
    <div class="item">{{avgapproachtotalapproach|safe}}</div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item">{{postotalapproach|safe}}</div>
    <div class="item">{{postotalapproach2|safe}}</div>
    <div class="item">{{pospie|safe}}</div>
    <div class="item"></div>
</div>

  </body>
</html>
